body {
  background-image: url(./photos/library2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 72px;
}

#hide-alert {
  background-color: transparent;
  color: white;
  text-align: center;
  margin-top: 100px;
}
#search-U1 {
  font-family: "Cinzel Decorative", cursive;
  color: white;
  background: lightgray (0, 0, 0);
  margin-top: 20%;
  font-size: 80px;
  margin-left: auto;
}

#search-U2 {
  font-family: "Abril Fatface", cursive;
  color: white;
  background: lightgray(0, 0, 0);
  font-size: 150px;
  margin-top: 15%;
  margin-left: 1%;
  margin-right: auto;
}

#icon {
  font-family: "Cinzel Decorative", cursive;
}

#icon2 {
  font-family: "Abril Fatface", cursive;
}

.container-footer {
  position: fixed;
  font-family: "Cinzel Decorative", cursive;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: rgb(228, 228, 228);
  color: white;
  text-align: center;
}

#footer-two {
  font-size: 12px;
}

#submit-city:hover {
  background-color: rgb(176, 232, 241);
}

#submit-school:hover {
  background-color: rgb(176, 232, 241);
}

#submit-city {
  float: right;
  margin-right: 2%;
}
#city-search {
  float: right;
}

#schoolSearch {
  margin-left: auto;
  margin-right: auto;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px black, 0 0 40px black,
      0 0 50px black, 0 0 60px black, 0 0 70px black;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px black, 0 0 40px black, 0 0 50px black,
      0 0 60px black, 0 0 70px black, 0 0 80px black;
  }
}

#aboutUsText {
  font-family: "Marcellus", serif;
  font-family: "Old Standard TT", serif;
  font-family: "Pontano Sans", sans-serif;
  font-family: "Tenor Sans", sans-serif;
  font-size: 15px;
  color: black;
}

.containerText {
  background: white;
  opacity: 0.7;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1.5%;
  padding-right: 1%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 15px;
  padding: 20px;
}
#school-info,
#chosenbutton,
#uni-buttons {
  font-family: "Marcellus", serif;
  font-family: "Old Standard TT", serif;
  font-family: "Pontano Sans", sans-serif;
  font-family: "Tenor Sans", sans-serif;
  background: white;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1.5%;
  padding-right: 1%;
  border-radius: 15px;
  margin-top: 3%;
}

.divider {
  border-bottom: 1px solid black;
}

#nameContactUs {
  font-family: "Marcellus", serif;
  font-family: "Old Standard TT", serif;
  font-family: "Pontano Sans", sans-serif;
  font-family: "Tenor Sans", sans-serif;
  font-size: 30px;
}

#titleContactUs {
  font-family: "Marcellus", serif;
  font-family: "Old Standard TT", serif;
  font-family: "Pontano Sans", sans-serif;
  font-family: "Tenor Sans", sans-serif;
  font-size: 20px;
}

#linkContactUs {
  color: black;
  font-family: "Marcellus", serif;
  font-family: "Old Standard TT", serif;
  font-family: "Pontano Sans", sans-serif;
  font-family: "Tenor Sans", sans-serif;
  font-size: 15px;
}

#link {
  color: rgb(80, 35, 35);
}

#contactBox {
  margin-left: auto;
  margin-right: auto;
}
